@import "../../../index.scss";
.rounded-square-right{
    position: absolute;
        left: 50%;
        transform: translate(-25%);
        bottom: 0;
        height: 30rem;
        width: 28rem;
        background-color: $white-color;
        border-radius: 50% 50% 0 0;
}

.content-left{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
   background-color:$white-color;
    height:35rem;
    width: 30rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    border-radius: 10px;
    padding: 1rem 5rem;
    .input-group{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 1rem 0;
        input[type="email"],input[type="password"],input[type="text"] {
            background-color: $gray-dark-color;
            padding: 0.5rem 1rem;
            border-radius: 5px;
            margin-top: 0.2rem;
            width: 100%;
        }
        label {
            font-size: 14px;
            font-weight: 600;
        }
        button[type="submit"] {
            background-color: $black-color;
            color: $white-color;
            padding: 0.5rem 1rem;
            border-radius: 5px;
            margin-top: 0.3rem;
            font-size: 14px;
            font-weight: 600;
            cursor: pointer;
        }
    }
}

.error{
    color: red;
    font-size: 12px;
    margin-top: 1px;
}

.pass-field{
    position: relative;
}

.show-password-button{
    position: absolute;
    right: 0;
    top: 63%;
    transform: translateY(-50%);
    margin-right: 8px;
    cursor: pointer;
}