.red-dot-container {
    position: relative;
    display: inline-block;
  }
  
  .red-dot {
    position: absolute;
    background-color: red;
    color: white;
    border-radius: 50%;
    font-size: 10px;
    height: 14px;
    width: 14px;
    text-align: center;
    line-height: 1.2;
    top: 0;
    right: 0;
    transform: translate(7px, -4px);
  }
  